<h1> Artist List </h1>
<%= link_to "Add an artist", new_artist_path %>

<% @artists.each do |artist| %>
    <ul>
    <li> <%= link_to artist.name, artist %> </li>
<% end %>
</ul><br>
<%= link_to "Search All Albums", albums_path %> <br>
       <%= link_to "Search All Songs", songs_path %> <br>
          <%= link_to "Search All Lyrics", lyrics_path %>