<%= form_for @album do |form| %>
    <p>
    <%= form.label :name %> <br>
    <%= form.text_field :name %>
    </p>
    <p>
    <%= form.label :artist_id %><br>
    <%= form.collection_select :artist_id, Artist.all, :id, :name %>
    </p>
    <p>
    <%= form.submit %>
    </p>
    <% end %>